*DS_Store*
*.cache
*~
*status
Makefile
libtool
*.log
*.o
*.lo
*.Plo
*.la
*/*deps/*.*o
*/*/*deps/*.*o
*/*/*/*deps/*.*o
*/*libs/*.*o
*/*/*libs/*.*o
*/*/*/*libs/*.*o
*.app
*xcuser*
*xcworkspace*
stamp-h*
config.h
confdefs.h
conftest*
